* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: white;

    font-family: 'Roboto Slab', serif;
}

:root {
    --cor-fundo: #000E41;
    --cor-contraste: #EBEBEB;
    --cor-destaque: rgb(76, 255, 180);
    --cor-complementar: #0085FF;
    --cor-destaque-texto: #97FFD3;
}

body {
    background-color: var(--cor-fundo);
}

header {
    display: flex;
    justify-content: center;

    position: fixed;
    width: 100%;

    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

    background-color: rgba(0, 14, 65, .8);

    z-index: 3;

    border-bottom: solid 1px var(--cor-destaque);
}

.header-options {
    display: flex;
    flex-direction: row;

    margin: 10px;
}

.header-option {
    margin: 0 5px;
    font-weight: 500;
    font-family: 'Roboto Slab';
}
/* QUEM SOU */

.quem-sou-container {
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 40px;
}

.quem-sou {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 70px;
}

.quem-sou-texto-container {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    position: relative;

    width: 618px;
}

.quem-sou-texto-ps p:nth-child(1) {
    animation: anima-in 2s;
    animation-play-state: paused;
}

.quem-sou-texto-ps p:nth-child(2) {
    animation: anima-in 2s;
    animation-play-state: paused;
}

.quem-sou-texto-container p {
    margin: 15px 0;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    line-height: 35px;
}

.quem-sou-texto-container h2 {
    color: var(--cor-destaque);
    
    animation: anima-in 2s;
    animation-play-state: paused;

    font-weight: 500;
}

.foto-container {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    
    border: solid 8px var(--cor-destaque);
    
    overflow: hidden;
    
    animation: anima-in 2s;
    animation-play-state: paused;

    display: grid;
    place-items: center;
}      

.foto {
    width: 95%;           
    height: 95%;           
    border-radius: 50%;           
    overflow: hidden;
}


.foto img {           
    width: 100%;           
    height: 100%;           
}         

@media (max-width: 550px) {
    .foto-container {
        width: 250px;
        height: 250px;
    }
}

.textos {           
    margin-top: 28px;           
    text-align: left;
}

.textos p:first-child {
    white-space: nowrap;
}


@media (max-width: 650px) {
    .quem-sou-texto-container {
        width: 550px;
    }

    .textos {
        width: 550px;
    }
}


@media (min-width: 650px) {
    .textos {
        width: 618px;
    }

    .quem-sou-texto-container {
        width: 618px;
    }
}

@media (min-width: 1374px) {
    .quem-sou {
        justify-content: left;
        align-items: unset;
    }

    .textos {
        text-align: left;
    }
}

.textos p:nth-child(2) {
    font-size: 24px;

    animation: anima-in 2s;
    animation-play-state: paused;
}

.textos p:nth-child(1) {
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: 500;

    animation: anima-in 2s;
    animation-play-state: paused;
}



p span {
    color: var(--cor-destaque-texto);
    font-weight: 500;
}

/* SKILLS */

.skills-container {
    margin: 0 20px;
}

.skills-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-title h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:var(--cor-destaque);

    animation: opacity 3s;
}

.linha {
    border: solid 1px var(--cor-destaque);
    background-color: var(--cor-destaque);
    height: 0px;
    width: 40%;
    visibility: hidden;

    animation: anima-skills-title 4s;
    animation-play-state: paused;
}

.skills-options-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;

    width: 100%;
}

.skills-options {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(6, 1fr);

    width: 95%;
}


.skill-option {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 30px;
    
    animation: icons-scale 3s;
    animation-play-state: paused;
    
}

.skill-option h3 {
    font-family: 'Roboto', sans-serif;
}

.skill-img {
    width: 110px;
    height: 110px;

    border-radius: 5px;
    overflow: hidden;

    margin-bottom: 7px;
}

.skill-img img {
    width: 100%;
}

.skills-options .skill-option:nth-child(5) .skill-img img {
    background-color: #44507a;
}

@media (max-width: 1374px) {
    .skills-options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .skill-img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 500px) {
    .skill-img {
        width: 80px;
        height: 80px;
    }

    .skill-option h3 {
        font-size: .9rem;
    }

    .skills-container {
        margin: 0 10px;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes anima-skills-title {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }
}

@keyframes anima-in {           
    0% {           
        transform: translateY(-20px);           
        opacity: 0;           
    }           
    100% {           
        transform: translateY(0);           
        opacity: 1;           
    }           
}

@keyframes icons-scale {
    0% {
        opacity: 0;
        transform: scale(.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
