a {
    text-decoration: underline;
    text-decoration-color: transparent;
    color: black;
    transition-property: color, text-decoration-color;
    transition-duration: .4s;
    }

a:hover {
    color: blue;
    text-decoration: underline;
    text-decoration-color: blue;
    }
    