<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="/static/a_hover.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% block content %}
    <div class="header">
        <header>
            <a href="http://127.0.0.1:5000/" class="logo">LOGO</a>
            <div class="header-right">
                <a href="http://127.0.0.1:5000/">Home</a>
                <a href="/login">Login</a>
            </div>
        </header>
    </div>
    <div class="bloco">
        <h1>Seja bem vindo, {{session['nome']}}</h1>
        <p>Seu email: {{session['email']}}</p>
        <a href="/delete">Apagar conta</a>
    </div>
    {% endblock %}
</body>
</html>
